footer {
    text-align: center;
    color: #6d176d;
}


/* ******************* **************************** ********************************* */

.my_footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 500px;
    align-items: center;
    border-bottom: 1px solid #160570;
    ;
}

.my_footer>div:last-child {
    height: 500px;
    border-radius: 0px 0px 0px 1000px;
    border-left: 1px solid #160570;
    background-color: rgb(252, 251, 250);
    /*border-bottom: 1px solid #6d176d; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    padding-left: 100px;
}

.entrer_en_contact {
    font-size: 4em;
}


/* ************************* ******************************** *************************** */

.social_dtails,
.services_dtails {
    display: grid;
    padding: 10px;
    grid-gap: 20px;
    padding-top: 40px;
}

.right_legal_power {
    display: block;
    margin: 5px;
}