header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    align-items: center;
    background-color: rgb(252, 251, 250);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 95%;
    margin: 0 auto;
}

.my_name {
    text-align: left;
}

.my_name span {
    font-size: 2em;
    font-weight: bold;
    color: #6d176d;
}


/* ************************ ***************************** *************************** */

.my_top_menu {
    text-align: center;
}

.my_top_menu nav {
    display: block;
}

.my_top_menu nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.my_top_menu nav ul li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 1.2em;
    color: #330033;
}

a:hover {
    color: #511fe6;
    text-decoration: underline;
}